<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:label="@string/preview_app_name" tools:replace="android:label">
        <activity android:name=".setting_activity.MainActivity"
            android:label="@string/preview_app_name" tools:replace="android:label" />
        <activity-alias android:name=".setting_activity.LaunchableMainActivity"
            android:label="@string/preview_app_name" tools:replace="android:label" />
        <service android:name=".ime_service.IMEService"
            android:label="@string/preview_app_name" tools:replace="android:label" />
    </application>
</manifest>
